## To Do
1. Load the data
2. Created an ID column and assign an unique ID to each Accident/Incident
3. Unpivot the Data to have the unique values on Data Col as Columns and values as rows
4. Check for null vallues
5. Make the Data usuable for Power BI

In [1]:
import pandas as pd

### column names were edited directly in Excel

In [22]:
#loading the excel into a dataframe
df = pd.read_excel('./Data/scraped_data.xlsx')
df.head()

,Accident Counter,Data,Values
0,0,Wingfoot Air Express,Wingfoot Air Express
1,1,Accident,Accident
2,2,Date,"July 21, 1919"
3,3,Summary,In-flight fire
4,4,Site,"Chicago, Illinois, United States .mw-parser-ou..."

### creating an ID column to not mix data

In [21]:
# variable to store the ID value
id_value = 1

# Create a new column called 'id' and set the initial value to 1
df['id'] = id_value

# Iterate through the 'Data' column
for i in range(len(df)):
    # Check if the current row contains the word 'Accident'
    if 'Accident' in df.loc[i, 'Data']:
        # If the word 'Accident' is found, increment the ID value
        id_value += 1
        # Assign the incremented ID value to the current row
        df.loc[i, 'id'] = id_value
    else:
        df.loc[i,'id'] = id_value

df

#Needs a different solution, Accident Counter COL might help

,Accident Counter,Data,Values,id
0,0,Wingfoot Air Express,Wingfoot Air Express,1
1,1,Accident,Accident,2
2,2,Date,"July 21, 1919",2
3,3,Summary,In-flight fire,2
4,4,Site,"Chicago, Illinois, United States .mw-parser-ou...",2
...,...,...,...,...
26143,20,Injuries,40,1175
26144,21,Survivors,108,1175
26145,22,Ground casualties,Ground casualties,1175
26146,23,Ground fatalities,2,1175
26147,24,Ground injuries,1,1175