## Database Format
### Date:	 Date of accident,  in the format - January 01, 2001
### Time:	 Local time, in 24 hr
### Airline/Op:	 Airline or operator of the aircraft
### Flight #:	 Flight number assigned by the aircraft operator
### Route:	 Complete or partial route flown prior to the accident
### AC Type:	 Aircraft type
### Reg:	 ICAO registration of the aircraft
### cn / ln:	 Construction or serial number / Line or fuselage number
### Aboard:	 Total aboard (passengers / crew)
### Fatalities:	 Total fatalities aboard (passengers / crew)
### Ground:	 Total killed on the ground
### Summary:	 Brief description of the accident and cause if known

## To Do
1. Load the data
2. Drop not needed cols
3. Check for null vallues or ?
4. replace them with "unknown"
5. Separate passengers and crew in "Aboard" and "Fatalires" into new col for each
6. Cluster words in Summary
7. Make the Data usuable for Power BI

In [85]:
import pandas as pd
import numpy as np

In [86]:
#loading the excel into a dataframe
df = pd.read_excel('./Data/plane_crash_info_data.xlsx')
df

,Date,Time,Location,Operator,Flight_Number,Route,AC_Type,Registration,cn_ln,Aboard,Fatalities,Ground,Summary
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,"July 16, 2022",2247,"Eleftheroupolis, Greece",Meridian,MEM3032,Nis- Amman,Antonov An-12,UR-CIC,01347701,8 (passengers:0 crew:8),8 (passengers:0 crew:8),0,The cargo plane carrying eight crew members an...
5059,"November 06, 2022",0853,"Bukoba, Tanzania",Precision Air,PW494,Dar es-Salaam -Bukoba,ATR 42-500,5H-PWF,819,43 (passengers:39 crew:39),19 (passengers:17 crew:2),0,"While on final approach to Bukoba Airport, the..."
5060,"November 18, 2022",1511,"Lima, Peru",LATAM,LA2213,Lima - Juliaca,Airbus 320-271N,CC-BHB,7864,108 (passengers:102 crew:6),0 (passengers:0 crew:0),2,The Airbus A320 collided with a fire truck whi...
5061,"November 21, 2022",1015,"Medellín, Colombia",AeroPaca SAS,?,Medellín - Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,31-7652004,8 (passengers:6 crew:2),8 (passengers:6 crew:2),0,The plane was chartered to carry a team of six...
5062,"January 15, 2023",1050,"Pokhara, Nepal",Yeti Airlines,YT691,Kathmandu - Pokhara,ATR 72-500-72-212-A,9NANC,754,72 (passengers:68 crew:4),68 (passengers:? crew:?),?,"Before approach, the pilot requested a change ..."

In [87]:
df.dtypes

Date             object
Time             object
Location         object
Operator         object
Flight_Number    object
Route            object
AC_Type          object
Registration     object
cn_ln            object
Aboard           object
Fatalities       object
Ground           object
Summary          object
dtype: object

### some values in Time have a string 'c' or 'c', will remove that

In [94]:
df['Time'] = df['Time'].replace(to_replace='c:', value='')
df['Time'] = df['Time'].replace(to_replace='c', value='')
df['Time'] = df['Time'].replace(to_replace='c ', value='')
# df['Time'] = df['Time'].apply(lambda x: x.replace('c:',''))
df

,Date,Time,Location,Operator,Flight_Number,Route,AC_Type,Registration,cn_ln,Aboard,Fatalities,Ground,Summary
0,1908-09-17,1718,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,1912-07-12,0630,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,1913-08-06,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,1913-09-09,1830,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,2022-07-16,2247,"Eleftheroupolis, Greece",Meridian,MEM3032,Nis- Amman,Antonov An-12,UR-CIC,01347701,8 (passengers:0 crew:8),8 (passengers:0 crew:8),0,The cargo plane carrying eight crew members an...
5059,2022-11-06,0853,"Bukoba, Tanzania",Precision Air,PW494,Dar es-Salaam -Bukoba,ATR 42-500,5H-PWF,819,43 (passengers:39 crew:39),19 (passengers:17 crew:2),0,"While on final approach to Bukoba Airport, the..."
5060,2022-11-18,1511,"Lima, Peru",LATAM,LA2213,Lima - Juliaca,Airbus 320-271N,CC-BHB,7864,108 (passengers:102 crew:6),0 (passengers:0 crew:0),2,The Airbus A320 collided with a fire truck whi...
5061,2022-11-21,1015,"Medellín, Colombia",AeroPaca SAS,NaN,Medellín - Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,31-7652004,8 (passengers:6 crew:2),8 (passengers:6 crew:2),0,The plane was chartered to carry a team of six...
5062,2023-01-15,1050,"Pokhara, Nepal",Yeti Airlines,YT691,Kathmandu - Pokhara,ATR 72-500-72-212-A,9NANC,754,72 (passengers:68 crew:4),68 (passengers:? crew:?),NaN,"Before approach, the pilot requested a change ..."

In [95]:
#removing the ? strings
df = df.replace(to_replace='?', value=np.nan)
df

,Date,Time,Location,Operator,Flight_Number,Route,AC_Type,Registration,cn_ln,Aboard,Fatalities,Ground,Summary
0,1908-09-17,1718,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,1912-07-12,0630,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,1913-08-06,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,1913-09-09,1830,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,2022-07-16,2247,"Eleftheroupolis, Greece",Meridian,MEM3032,Nis- Amman,Antonov An-12,UR-CIC,01347701,8 (passengers:0 crew:8),8 (passengers:0 crew:8),0,The cargo plane carrying eight crew members an...
5059,2022-11-06,0853,"Bukoba, Tanzania",Precision Air,PW494,Dar es-Salaam -Bukoba,ATR 42-500,5H-PWF,819,43 (passengers:39 crew:39),19 (passengers:17 crew:2),0,"While on final approach to Bukoba Airport, the..."
5060,2022-11-18,1511,"Lima, Peru",LATAM,LA2213,Lima - Juliaca,Airbus 320-271N,CC-BHB,7864,108 (passengers:102 crew:6),0 (passengers:0 crew:0),2,The Airbus A320 collided with a fire truck whi...
5061,2022-11-21,1015,"Medellín, Colombia",AeroPaca SAS,NaN,Medellín - Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,31-7652004,8 (passengers:6 crew:2),8 (passengers:6 crew:2),0,The plane was chartered to carry a team of six...
5062,2023-01-15,1050,"Pokhara, Nepal",Yeti Airlines,YT691,Kathmandu - Pokhara,ATR 72-500-72-212-A,9NANC,754,72 (passengers:68 crew:4),68 (passengers:? crew:?),NaN,"Before approach, the pilot requested a change ..."

In [96]:
df['Time'] = df['Time'].apply(lambda x: x[:-2]+':'+x[-2:] if not pd.isna(x) else x)
#df['Time'] = pd.to_datetime(df['Time'], format='%H:%M', errors='coerce')

In [97]:
df

,Date,Time,Location,Operator,Flight_Number,Route,AC_Type,Registration,cn_ln,Aboard,Fatalities,Ground,Summary
0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,1912-07-12,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,1913-08-06,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,2022-07-16,22:47,"Eleftheroupolis, Greece",Meridian,MEM3032,Nis- Amman,Antonov An-12,UR-CIC,01347701,8 (passengers:0 crew:8),8 (passengers:0 crew:8),0,The cargo plane carrying eight crew members an...
5059,2022-11-06,08:53,"Bukoba, Tanzania",Precision Air,PW494,Dar es-Salaam -Bukoba,ATR 42-500,5H-PWF,819,43 (passengers:39 crew:39),19 (passengers:17 crew:2),0,"While on final approach to Bukoba Airport, the..."
5060,2022-11-18,15:11,"Lima, Peru",LATAM,LA2213,Lima - Juliaca,Airbus 320-271N,CC-BHB,7864,108 (passengers:102 crew:6),0 (passengers:0 crew:0),2,The Airbus A320 collided with a fire truck whi...
5061,2022-11-21,10:15,"Medellín, Colombia",AeroPaca SAS,NaN,Medellín - Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,31-7652004,8 (passengers:6 crew:2),8 (passengers:6 crew:2),0,The plane was chartered to carry a team of six...
5062,2023-01-15,10:50,"Pokhara, Nepal",Yeti Airlines,YT691,Kathmandu - Pokhara,ATR 72-500-72-212-A,9NANC,754,72 (passengers:68 crew:4),68 (passengers:? crew:?),NaN,"Before approach, the pilot requested a change ..."

In [98]:
df["Date"] = pd.to_datetime(df["Date"])
#df['Time'] = pd.to_datetime(df['Time'], format='%H%M')
#df['Time'] = pd.to_timedelta(df+':00')
df.head()

,Date,Time,Location,Operator,Flight_Number,Route,AC_Type,Registration,cn_ln,Aboard,Fatalities,Ground,Summary
0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,1912-07-12,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,1913-08-06,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...

In [99]:
df.dtypes

Date             datetime64[ns]
Time                     object
Location                 object
Operator                 object
Flight_Number            object
Route                    object
AC_Type                  object
Registration             object
cn_ln                    object
Aboard                   object
Fatalities               object
Ground                   object
Summary                  object
dtype: object

In [100]:
df.to_excel('..Datings.xlsx', index=False)