## Database Format
### Date:	 Date of accident,  in the format - January 01, 2001
### Time:	 Local time, in 24 hr
### Airline/Op:	 Airline or operator of the aircraft
### Flight #:	 Flight number assigned by the aircraft operator
### Route:	 Complete or partial route flown prior to the accident
### AC Type:	 Aircraft type
### Reg:	 ICAO registration of the aircraft
### cn / ln:	 Construction or serial number / Line or fuselage number
### Aboard:	 Total aboard (passengers / crew)
### Fatalities:	 Total fatalities aboard (passengers / crew)
### Ground:	 Total killed on the ground
### Summary:	 Brief description of the accident and cause if known

In [52]:
import pandas as pd
import numpy as np

In [53]:
#loading the excel into a dataframe
df = pd.read_excel('./Data/plane_crash_info_data.xlsx')
df

,Date,Time,Location,Operator,Flight_Number,Route,AC_Type,Registration,cn_ln,Aboard,Fatalities,Ground,Summary
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,"July 16, 2022",2247,"Eleftheroupolis, Greece",Meridian,MEM3032,Nis- Amman,Antonov An-12,UR-CIC,01347701,8 (passengers:0 crew:8),8 (passengers:0 crew:8),0,The cargo plane carrying eight crew members an...
5059,"November 06, 2022",0853,"Bukoba, Tanzania",Precision Air,PW494,Dar es-Salaam -Bukoba,ATR 42-500,5H-PWF,819,43 (passengers:39 crew:39),19 (passengers:17 crew:2),0,"While on final approach to Bukoba Airport, the..."
5060,"November 18, 2022",1511,"Lima, Peru",LATAM,LA2213,Lima - Juliaca,Airbus 320-271N,CC-BHB,7864,108 (passengers:102 crew:6),0 (passengers:0 crew:0),2,The Airbus A320 collided with a fire truck whi...
5061,"November 21, 2022",1015,"Medellín, Colombia",AeroPaca SAS,?,Medellín - Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,31-7652004,8 (passengers:6 crew:2),8 (passengers:6 crew:2),0,The plane was chartered to carry a team of six...
5062,"January 15, 2023",1050,"Pokhara, Nepal",Yeti Airlines,YT691,Kathmandu - Pokhara,ATR 72-500-72-212-A,9NANC,754,72 (passengers:68 crew:4),68 (passengers:? crew:?),?,"Before approach, the pilot requested a change ..."

In [54]:
#droping not needed columns, Time is dropeed since its not clear in what timezone is and can lead to wrong info later
df.drop(columns=["Flight_Number", 'cn_ln', 'Time'], inplace=True)

In [55]:
#renaming Ground Column
df.rename(columns={'Ground': 'Ground_Fatalities'},inplace=True)

In [56]:
#removing duplicates
df = df.drop_duplicates().reset_index(drop=True)

In [57]:
df.dtypes

Date                 object
Location             object
Operator             object
Route                object
AC_Type              object
Registration         object
Aboard               object
Fatalities           object
Ground_Fatalities    object
Summary              object
dtype: object

In [58]:
#removing leading and trailings spaces
df = df.apply(lambda x: x.str.strip())

In [59]:
df

,Date,Location,Operator,Route,AC_Type,Registration,Aboard,Fatalities,Ground_Fatalities,Summary
0,"September 17, 1908","Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,?,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909","Juvisy-sur-Orge, France",?,Air show,Wright Byplane,SC1,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912","Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913","Victoria, British Columbia, Canada",Private,?,Curtiss seaplane,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",Over the North Sea,Military - German Navy,?,Zeppelin L-1 (airship),?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...
5036,"July 16, 2022","Eleftheroupolis, Greece",Meridian,Nis- Amman,Antonov An-12,UR-CIC,8 (passengers:0 crew:8),8 (passengers:0 crew:8),0,The cargo plane carrying eight crew members an...
5037,"November 06, 2022","Bukoba, Tanzania",Precision Air,Dar es-Salaam -Bukoba,ATR 42-500,5H-PWF,43 (passengers:39 crew:39),19 (passengers:17 crew:2),0,"While on final approach to Bukoba Airport, the..."
5038,"November 18, 2022","Lima, Peru",LATAM,Lima - Juliaca,Airbus 320-271N,CC-BHB,108 (passengers:102 crew:6),0 (passengers:0 crew:0),2,The Airbus A320 collided with a fire truck whi...
5039,"November 21, 2022","Medellín, Colombia",AeroPaca SAS,Medellín - Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,8 (passengers:6 crew:2),8 (passengers:6 crew:2),0,The plane was chartered to carry a team of six...
5040,"January 15, 2023","Pokhara, Nepal",Yeti Airlines,Kathmandu - Pokhara,ATR 72-500-72-212-A,9NANC,72 (passengers:68 crew:4),68 (passengers:? crew:?),?,"Before approach, the pilot requested a change ..."

In [60]:
#Checking for missing values
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing

Date                 0.0
Location             0.0
Operator             0.0
Route                0.0
AC_Type              0.0
Registration         0.0
Aboard               0.0
Fatalities           0.0
Ground_Fatalities    0.0
Summary              0.0
dtype: float64

In [61]:
df.dtypes

Date                 object
Location             object
Operator             object
Route                object
AC_Type              object
Registration         object
Aboard               object
Fatalities           object
Ground_Fatalities    object
Summary              object
dtype: object

In [62]:
# need to change Date to datetime object
df["Date"] = pd.to_datetime(df["Date"])
df.head()

,Date,Location,Operator,Route,AC_Type,Registration,Aboard,Fatalities,Ground_Fatalities,Summary
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,?,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,"Juvisy-sur-Orge, France",?,Air show,Wright Byplane,SC1,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,1913-08-06,"Victoria, British Columbia, Canada",Private,?,Curtiss seaplane,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,1913-09-09,Over the North Sea,Military - German Navy,?,Zeppelin L-1 (airship),?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...

In [63]:
df.dtypes

Date                 datetime64[ns]
Location                     object
Operator                     object
Route                        object
AC_Type                      object
Registration                 object
Aboard                       object
Fatalities                   object
Ground_Fatalities            object
Summary                      object
dtype: object

### let's separate and create new cols for Aboard Passengers and Crew and Fatalities Passegners an Crew

In [64]:
df['Passengers_Aboard'] = df['Aboard'].str.extract('passengers:(\d+)')
df['Crew_Aboard'] = df['Aboard'].str.extract('crew:(\d+)')
df['Passengers_Fatalities'] = df['Fatalities'].str.extract('passengers:(\d+)')
df['Crew_Fatalities'] = df['Fatalities'].str.extract('crew:(\d+)')
df['Aboard_Aircraft'] = df['Aboard'].str.extract('(\d+)')
df['Aboard_Fatalities'] = df['Fatalities'].str.extract('(\d+)')
df.head()

,Date,Location,Operator,Route,AC_Type,Registration,Aboard,Fatalities,Ground_Fatalities,Summary,Passengers_Aboard,Crew_Aboard,Passengers_Fatalities,Crew_Fatalities,Aboard_Aircraft,Aboard_Fatalities
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,?,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly...",1,1,1,0,2,1
1,1909-09-07,"Juvisy-sur-Orge, France",?,Air show,Wright Byplane,SC1,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...,0,1,0,0,1,1
2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...,0,5,0,5,5,5
3,1913-08-06,"Victoria, British Columbia, Canada",Private,?,Curtiss seaplane,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...,0,1,0,1,1,1
4,1913-09-09,Over the North Sea,Military - German Navy,?,Zeppelin L-1 (airship),?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...,NaN,NaN,NaN,NaN,20,14

### total fatalities column

In [65]:
# since I'm not able to sum str and theres need to fill NaN wih 0, will create two new var and sum them, this way unreliable data is not added to the main dataframe
dftotal1 =  pd.to_numeric(df['Ground_Fatalities'], errors='coerce')
dftotal2 =  pd.to_numeric(df['Aboard_Fatalities'], errors='coerce')

df['Total_Fatalites'] = dftotal1 + dftotal2
df.head()

,Date,Location,Operator,Route,AC_Type,Registration,Aboard,Fatalities,Ground_Fatalities,Summary,Passengers_Aboard,Crew_Aboard,Passengers_Fatalities,Crew_Fatalities,Aboard_Aircraft,Aboard_Fatalities,Total_Fatalites
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,?,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly...",1,1,1,0,2,1,1.0
1,1909-09-07,"Juvisy-sur-Orge, France",?,Air show,Wright Byplane,SC1,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...,0,1,0,0,1,1,1.0
2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...,0,5,0,5,5,5,5.0
3,1913-08-06,"Victoria, British Columbia, Canada",Private,?,Curtiss seaplane,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...,0,1,0,1,1,1,1.0
4,1913-09-09,Over the North Sea,Military - German Navy,?,Zeppelin L-1 (airship),?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...,NaN,NaN,NaN,NaN,20,14,14.0

### create a column survivors

In [66]:
#same thing as above
dftotal3 =  pd.to_numeric(df['Aboard_Aircraft'], errors='coerce')
dftotal4 =  pd.to_numeric(df['Aboard_Fatalities'], errors='coerce')
df['Survivors'] = dftotal3 - dftotal4
df

,Date,Location,Operator,Route,AC_Type,Registration,Aboard,Fatalities,Ground_Fatalities,Summary,Passengers_Aboard,Crew_Aboard,Passengers_Fatalities,Crew_Fatalities,Aboard_Aircraft,Aboard_Fatalities,Total_Fatalites,Survivors
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,?,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly...",1,1,1,0,2,1,1.0,1.0
1,1909-09-07,"Juvisy-sur-Orge, France",?,Air show,Wright Byplane,SC1,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...,0,1,0,0,1,1,1.0,0.0
2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...,0,5,0,5,5,5,5.0,0.0
3,1913-08-06,"Victoria, British Columbia, Canada",Private,?,Curtiss seaplane,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...,0,1,0,1,1,1,1.0,0.0
4,1913-09-09,Over the North Sea,Military - German Navy,?,Zeppelin L-1 (airship),?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...,NaN,NaN,NaN,NaN,20,14,14.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036,2022-07-16,"Eleftheroupolis, Greece",Meridian,Nis- Amman,Antonov An-12,UR-CIC,8 (passengers:0 crew:8),8 (passengers:0 crew:8),0,The cargo plane carrying eight crew members an...,0,8,0,8,8,8,8.0,0.0
5037,2022-11-06,"Bukoba, Tanzania",Precision Air,Dar es-Salaam -Bukoba,ATR 42-500,5H-PWF,43 (passengers:39 crew:39),19 (passengers:17 crew:2),0,"While on final approach to Bukoba Airport, the...",39,39,17,2,43,19,19.0,24.0
5038,2022-11-18,"Lima, Peru",LATAM,Lima - Juliaca,Airbus 320-271N,CC-BHB,108 (passengers:102 crew:6),0 (passengers:0 crew:0),2,The Airbus A320 collided with a fire truck whi...,102,6,0,0,108,0,2.0,108.0
5039,2022-11-21,"Medellín, Colombia",AeroPaca SAS,Medellín - Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,8 (passengers:6 crew:2),8 (passengers:6 crew:2),0,The plane was chartered to carry a team of six...,6,2,6,2,8,8,8.0,0.0
5040,2023-01-15,"Pokhara, Nepal",Yeti Airlines,Kathmandu - Pokhara,ATR 72-500-72-212-A,9NANC,72 (passengers:68 crew:4),68 (passengers:? crew:?),?,"Before approach, the pilot requested a change ...",68,4,NaN,NaN,72,68,NaN,4.0

In [67]:
#droping the colunns cleaned into new ones
df.drop(columns=["Aboard", 'Fatalities'], inplace=True)

### add manufacturer column

In [68]:
def extract_manufacturer(ac_type):
    return ac_type.split(" ")[0]
df['manufacturer'] = df['AC_Type'].apply(extract_manufacturer)

In [69]:
#De Havilland Canada are separate words so need to add them
for i, row in df.iterrows():
    if "de" in row["manufacturer"]:
        df.loc[i,"manufacturer"] += " Havilland Canada"
df.tail(15)

,Date,Location,Operator,Route,AC_Type,Registration,Ground_Fatalities,Summary,Passengers_Aboard,Crew_Aboard,Passengers_Fatalities,Crew_Fatalities,Aboard_Aircraft,Aboard_Fatalities,Total_Fatalites,Survivors,manufacturer
5026,2021-03-02,"Pieri, Sudan",South Sudan Supreme Airlines,Pieri - Yuai,Let L-410UVP-E,HK-4274,0,One of the engines on the aircraft failed 10 m...,8,2,8,2,10,10,10.0,0.0,Let
5027,2021-03-28,"Near Butte, Alaska",Soloy Helicopters,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,0,The sightseeing helicopter crashed after missi...,5,1,4,1,6,5,5.0,1.0,Eurocopter
5028,2021-05-21,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,Beechcraft B300 King Air 350i,NAF203,0,"While on final approach, in poor weather condi...",7,4,7,4,11,11,11.0,0.0,Beechcraft
5029,2021-06-10,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,Naypyidaw - Anisakan,Beechcraft 1900D,4610,0,The plane was carrying military personnel and ...,12,2,11,1,14,12,12.0,2.0,Beechcraft
5030,2021-07-04,"Patikul, Sulu, Philippines",Military - Philippine Air Force,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,3,"While attempting to land at Jolo Airport, the ...",88,8,NaN,NaN,96,50,53.0,46.0,Lockheed
5031,2021-07-06,"Palana, Russia",Kamchatka Aviation Enterprise,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,0,The passenger plane crashed into the top of a ...,22,6,22,6,28,28,28.0,0.0,Antonov
5032,2021-09-12,"Kazachinskoye , Russia",Aeroservice/SiLA,Irkutsk - Kazachinskoye,Let L-410UVP-E20,RA-67042,0,The aircraft was on it's second approach in he...,14,2,3,1,16,4,4.0,12.0,Let
5033,2021-12-27,"El Cajon, California",Med Jet,Santa Ana - El Cajon,Learjet 35A,N880Z,0,The air ambulance flight was completing a turn...,2,2,2,2,4,4,4.0,0.0,Learjet
5034,2022-03-22,"Wuzhou, Guangxi, China",China Eastern Airlines,Kunming - Guangzhou,Boeing 737-89P WL,B-1791,0,"Flying at 29,098 feet, the jetliner started de...",123,9,123,9,132,132,132.0,0.0,Boeing
5035,2022-05-29,Near Lete Pass,Tara Air,Pokhara - Jomsom,de Havilland Canada DHC-6 Twin Otter 300,9N-AET,0,The commuter plane crashed while on a flight t...,19,3,19,3,22,22,22.0,0.0,de Havilland Canada
5036,2022-07-16,"Eleftheroupolis, Greece",Meridian,Nis- Amman,Antonov An-12,UR-CIC,0,The cargo plane carrying eight crew members an...,0,8,0,8,8,8,8.0,0.0,Antonov
5037,2022-11-06,"Bukoba, Tanzania",Precision Air,Dar es-Salaam -Bukoba,ATR 42-500,5H-PWF,0,"While on final approach to Bukoba Airport, the...",39,39,17,2,43,19,19.0,24.0,ATR
5038,2022-11-18,"Lima, Peru",LATAM,Lima - Juliaca,Airbus 320-271N,CC-BHB,2,The Airbus A320 collided with a fire truck whi...,102,6,0,0,108,0,2.0,108.0,Airbus
5039,2022-11-21,"Medellín, Colombia",AeroPaca SAS,Medellín - Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,0,The plane was chartered to carry a team of six...,6,2,6,2,8,8,8.0,0.0,Piper
5040,2023-01-15,"Pokhara, Nepal",Yeti Airlines,Kathmandu - Pokhara,ATR 72-500-72-212-A,9NANC,?,"Before approach, the pilot requested a change ...",68,4,NaN,NaN,72,68,NaN,4.0,ATR

### need a column for Year and decade, might use it later

In [70]:
df['Year'] = df['Date'].dt.strftime('%Y')
df['Decade'] = df['Date'].dt.year.floordiv(10) * 10
df

,Date,Location,Operator,Route,AC_Type,Registration,Ground_Fatalities,Summary,Passengers_Aboard,Crew_Aboard,Passengers_Fatalities,Crew_Fatalities,Aboard_Aircraft,Aboard_Fatalities,Total_Fatalites,Survivors,manufacturer,Year,Decade
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,?,0,"During a demonstration flight, a U.S. Army fly...",1,1,1,0,2,1,1.0,1.0,Wright,1908,1900
1,1909-09-07,"Juvisy-sur-Orge, France",?,Air show,Wright Byplane,SC1,0,Eugene Lefebvre was the first pilot to ever be...,0,1,0,0,1,1,1.0,0.0,Wright,1909,1900
2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,?,0,First U.S. dirigible Akron exploded just offsh...,0,5,0,5,5,5,5.0,0.0,Dirigible,1912,1910
3,1913-08-06,"Victoria, British Columbia, Canada",Private,?,Curtiss seaplane,?,0,The first fatal airplane accident in Canada oc...,0,1,0,1,1,1,1.0,0.0,Curtiss,1913,1910
4,1913-09-09,Over the North Sea,Military - German Navy,?,Zeppelin L-1 (airship),?,0,The airship flew into a thunderstorm and encou...,NaN,NaN,NaN,NaN,20,14,14.0,6.0,Zeppelin,1913,1910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036,2022-07-16,"Eleftheroupolis, Greece",Meridian,Nis- Amman,Antonov An-12,UR-CIC,0,The cargo plane carrying eight crew members an...,0,8,0,8,8,8,8.0,0.0,Antonov,2022,2020
5037,2022-11-06,"Bukoba, Tanzania",Precision Air,Dar es-Salaam -Bukoba,ATR 42-500,5H-PWF,0,"While on final approach to Bukoba Airport, the...",39,39,17,2,43,19,19.0,24.0,ATR,2022,2020
5038,2022-11-18,"Lima, Peru",LATAM,Lima - Juliaca,Airbus 320-271N,CC-BHB,2,The Airbus A320 collided with a fire truck whi...,102,6,0,0,108,0,2.0,108.0,Airbus,2022,2020
5039,2022-11-21,"Medellín, Colombia",AeroPaca SAS,Medellín - Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,0,The plane was chartered to carry a team of six...,6,2,6,2,8,8,8.0,0.0,Piper,2022,2020
5040,2023-01-15,"Pokhara, Nepal",Yeti Airlines,Kathmandu - Pokhara,ATR 72-500-72-212-A,9NANC,?,"Before approach, the pilot requested a change ...",68,4,NaN,NaN,72,68,NaN,4.0,ATR,2023,2020

### create a column for flight origin

In [71]:
df['Route'] = df['Route'].str.replace(' -', '- ')
routes = df['Route'].str.split("- ")
df['Origin'] = routes.str[0]
df

,Date,Location,Operator,Route,AC_Type,Registration,Ground_Fatalities,Summary,Passengers_Aboard,Crew_Aboard,Passengers_Fatalities,Crew_Fatalities,Aboard_Aircraft,Aboard_Fatalities,Total_Fatalites,Survivors,manufacturer,Year,Decade,Origin
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,?,0,"During a demonstration flight, a U.S. Army fly...",1,1,1,0,2,1,1.0,1.0,Wright,1908,1900,Demonstration
1,1909-09-07,"Juvisy-sur-Orge, France",?,Air show,Wright Byplane,SC1,0,Eugene Lefebvre was the first pilot to ever be...,0,1,0,0,1,1,1.0,0.0,Wright,1909,1900,Air show
2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,?,0,First U.S. dirigible Akron exploded just offsh...,0,5,0,5,5,5,5.0,0.0,Dirigible,1912,1910,Test flight
3,1913-08-06,"Victoria, British Columbia, Canada",Private,?,Curtiss seaplane,?,0,The first fatal airplane accident in Canada oc...,0,1,0,1,1,1,1.0,0.0,Curtiss,1913,1910,?
4,1913-09-09,Over the North Sea,Military - German Navy,?,Zeppelin L-1 (airship),?,0,The airship flew into a thunderstorm and encou...,NaN,NaN,NaN,NaN,20,14,14.0,6.0,Zeppelin,1913,1910,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036,2022-07-16,"Eleftheroupolis, Greece",Meridian,Nis- Amman,Antonov An-12,UR-CIC,0,The cargo plane carrying eight crew members an...,0,8,0,8,8,8,8.0,0.0,Antonov,2022,2020,Nis
5037,2022-11-06,"Bukoba, Tanzania",Precision Air,Dar es-Salaam- Bukoba,ATR 42-500,5H-PWF,0,"While on final approach to Bukoba Airport, the...",39,39,17,2,43,19,19.0,24.0,ATR,2022,2020,Dar es-Salaam
5038,2022-11-18,"Lima, Peru",LATAM,Lima- Juliaca,Airbus 320-271N,CC-BHB,2,The Airbus A320 collided with a fire truck whi...,102,6,0,0,108,0,2.0,108.0,Airbus,2022,2020,Lima
5039,2022-11-21,"Medellín, Colombia",AeroPaca SAS,Medellín- Pizarro,Piper PA-31-350 Navajo Chieftain,HK-5121,0,The plane was chartered to carry a team of six...,6,2,6,2,8,8,8.0,0.0,Piper,2022,2020,Medellín
5040,2023-01-15,"Pokhara, Nepal",Yeti Airlines,Kathmandu- Pokhara,ATR 72-500-72-212-A,9NANC,?,"Before approach, the pilot requested a change ...",68,4,NaN,NaN,72,68,NaN,4.0,ATR,2023,2020,Kathmandu

### Repalace "?" with the string "Unknown"

In [72]:
df[['Location', 'Operator', 'Route', 'AC_Type', 'Summary', 'manufacturer', 'Origin', 'Registration']] = df[['Location', 'Operator', 'Route', 'AC_Type', 'Summary','manufacturer', 'Origin', 'Registration']].replace('?', 'Unknown')

In [73]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False)

Passengers_Fatalities    4.721285
Crew_Fatalities          4.721285
Passengers_Aboard        4.423725
Crew_Aboard              4.384051
Total_Fatalites          0.892680
Survivors                0.337235
Aboard_Aircraft          0.337235
Aboard_Fatalities        0.158699
Decade                   0.000000
Year                     0.000000
manufacturer             0.000000
Date                     0.000000
Location                 0.000000
Summary                  0.000000
Ground_Fatalities        0.000000
Registration             0.000000
AC_Type                  0.000000
Route                    0.000000
Operator                 0.000000
Origin                   0.000000
dtype: float64

### reorder the columns for the final format

In [74]:
df = df[['Decade', 'Year', 'Date', "Location", "Operator", "manufacturer", 'Registration', 'Origin', "Route", "AC_Type", "Summary", "Passengers_Aboard", "Crew_Aboard", "Aboard_Aircraft", "Passengers_Fatalities", "Crew_Fatalities", "Aboard_Fatalities", "Ground_Fatalities", "Total_Fatalites", "Survivors"]]
df

,Decade,Year,Date,Location,Operator,manufacturer,Registration,Origin,Route,AC_Type,Summary,Passengers_Aboard,Crew_Aboard,Aboard_Aircraft,Passengers_Fatalities,Crew_Fatalities,Aboard_Fatalities,Ground_Fatalities,Total_Fatalites,Survivors
0,1900,1908,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Wright,Unknown,Demonstration,Demonstration,Wright Flyer III,"During a demonstration flight, a U.S. Army fly...",1,1,2,1,0,1,0,1.0,1.0
1,1900,1909,1909-09-07,"Juvisy-sur-Orge, France",Unknown,Wright,SC1,Air show,Air show,Wright Byplane,Eugene Lefebvre was the first pilot to ever be...,0,1,1,0,0,1,0,1.0,0.0
2,1910,1912,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,Unknown,Test flight,Test flight,Dirigible,First U.S. dirigible Akron exploded just offsh...,0,5,5,0,5,5,0,5.0,0.0
3,1910,1913,1913-08-06,"Victoria, British Columbia, Canada",Private,Curtiss,Unknown,Unknown,Unknown,Curtiss seaplane,The first fatal airplane accident in Canada oc...,0,1,1,0,1,1,0,1.0,0.0
4,1910,1913,1913-09-09,Over the North Sea,Military - German Navy,Zeppelin,Unknown,Unknown,Unknown,Zeppelin L-1 (airship),The airship flew into a thunderstorm and encou...,NaN,NaN,20,NaN,NaN,14,0,14.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036,2020,2022,2022-07-16,"Eleftheroupolis, Greece",Meridian,Antonov,UR-CIC,Nis,Nis- Amman,Antonov An-12,The cargo plane carrying eight crew members an...,0,8,8,0,8,8,0,8.0,0.0
5037,2020,2022,2022-11-06,"Bukoba, Tanzania",Precision Air,ATR,5H-PWF,Dar es-Salaam,Dar es-Salaam- Bukoba,ATR 42-500,"While on final approach to Bukoba Airport, the...",39,39,43,17,2,19,0,19.0,24.0
5038,2020,2022,2022-11-18,"Lima, Peru",LATAM,Airbus,CC-BHB,Lima,Lima- Juliaca,Airbus 320-271N,The Airbus A320 collided with a fire truck whi...,102,6,108,0,0,0,2,2.0,108.0
5039,2020,2022,2022-11-21,"Medellín, Colombia",AeroPaca SAS,Piper,HK-5121,Medellín,Medellín- Pizarro,Piper PA-31-350 Navajo Chieftain,The plane was chartered to carry a team of six...,6,2,8,6,2,8,0,8.0,0.0
5040,2020,2023,2023-01-15,"Pokhara, Nepal",Yeti Airlines,ATR,9NANC,Kathmandu,Kathmandu- Pokhara,ATR 72-500-72-212-A,"Before approach, the pilot requested a change ...",68,4,72,NaN,NaN,68,?,NaN,4.0

In [75]:
# this column still has "?", changing to NaN
df['Ground_Fatalities'].replace('?', np.nan, inplace=True)
df

c:\Users\extra\anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,Decade,Year,Date,Location,Operator,manufacturer,Registration,Origin,Route,AC_Type,Summary,Passengers_Aboard,Crew_Aboard,Aboard_Aircraft,Passengers_Fatalities,Crew_Fatalities,Aboard_Fatalities,Ground_Fatalities,Total_Fatalites,Survivors
0,1900,1908,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Wright,Unknown,Demonstration,Demonstration,Wright Flyer III,"During a demonstration flight, a U.S. Army fly...",1,1,2,1,0,1,0,1.0,1.0
1,1900,1909,1909-09-07,"Juvisy-sur-Orge, France",Unknown,Wright,SC1,Air show,Air show,Wright Byplane,Eugene Lefebvre was the first pilot to ever be...,0,1,1,0,0,1,0,1.0,0.0
2,1910,1912,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,Unknown,Test flight,Test flight,Dirigible,First U.S. dirigible Akron exploded just offsh...,0,5,5,0,5,5,0,5.0,0.0
3,1910,1913,1913-08-06,"Victoria, British Columbia, Canada",Private,Curtiss,Unknown,Unknown,Unknown,Curtiss seaplane,The first fatal airplane accident in Canada oc...,0,1,1,0,1,1,0,1.0,0.0
4,1910,1913,1913-09-09,Over the North Sea,Military - German Navy,Zeppelin,Unknown,Unknown,Unknown,Zeppelin L-1 (airship),The airship flew into a thunderstorm and encou...,NaN,NaN,20,NaN,NaN,14,0,14.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036,2020,2022,2022-07-16,"Eleftheroupolis, Greece",Meridian,Antonov,UR-CIC,Nis,Nis- Amman,Antonov An-12,The cargo plane carrying eight crew members an...,0,8,8,0,8,8,0,8.0,0.0
5037,2020,2022,2022-11-06,"Bukoba, Tanzania",Precision Air,ATR,5H-PWF,Dar es-Salaam,Dar es-Salaam- Bukoba,ATR 42-500,"While on final approach to Bukoba Airport, the...",39,39,43,17,2,19,0,19.0,24.0
5038,2020,2022,2022-11-18,"Lima, Peru",LATAM,Airbus,CC-BHB,Lima,Lima- Juliaca,Airbus 320-271N,The Airbus A320 collided with a fire truck whi...,102,6,108,0,0,0,2,2.0,108.0
5039,2020,2022,2022-11-21,"Medellín, Colombia",AeroPaca SAS,Piper,HK-5121,Medellín,Medellín- Pizarro,Piper PA-31-350 Navajo Chieftain,The plane was chartered to carry a team of six...,6,2,8,6,2,8,0,8.0,0.0
5040,2020,2023,2023-01-15,"Pokhara, Nepal",Yeti Airlines,ATR,9NANC,Kathmandu,Kathmandu- Pokhara,ATR 72-500-72-212-A,"Before approach, the pilot requested a change ...",68,4,72,NaN,NaN,68,NaN,NaN,4.0

In [76]:
#values changed to floats, aware that should be Int but this will do
df[['Passengers_Aboard', 'Crew_Aboard', 'Aboard_Aircraft', 'Passengers_Fatalities', 'Crew_Fatalities', 'Aboard_Fatalities', 'Ground_Fatalities', 'Total_Fatalites', 'Survivors']] = df[['Passengers_Aboard', 'Crew_Aboard', 'Aboard_Aircraft', 'Passengers_Fatalities', 'Crew_Fatalities', 'Aboard_Fatalities', 'Ground_Fatalities', 'Total_Fatalites', 'Survivors']].astype(float)

In [77]:
df.to_excel('Data/plane_crash_info_cleaned.xlsx', index=False)

### will now merge the two datasets

In [78]:
df1 = pd.read_excel('Data/plane_crash_info_cleaned.xlsx')
df2 = pd.read_excel('Data/GeoLoc.xlsx')

In [79]:
df_merged = pd.merge(left=df1, right=df2, how='left')

In [80]:
df_merged.drop(columns=["Latitude", 'Longitude'], inplace=True)
df_merged

,Decade,Year,Date,Location,Operator,manufacturer,Registration,Origin,Route,AC_Type,...,Crew_Aboard,Aboard_Aircraft,Passengers_Fatalities,Crew_Fatalities,Aboard_Fatalities,Ground_Fatalities,Total_Fatalites,Survivors,Latitude_DD,Longitude_DD
0,1900,1908,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Wright,Unknown,Demonstration,Demonstration,Wright Flyer III,...,1.0,2.0,1.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN
1,1900,1909,1909-09-07,"Juvisy-sur-Orge, France",Unknown,Wright,SC1,Air show,Air show,Wright Byplane,...,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN
2,1910,1912,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,Unknown,Test flight,Test flight,Dirigible,...,5.0,5.0,0.0,5.0,5.0,0.0,5.0,0.0,NaN,NaN
3,1910,1913,1913-08-06,"Victoria, British Columbia, Canada",Private,Curtiss,Unknown,Unknown,Unknown,Curtiss seaplane,...,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,NaN,NaN
4,1910,1913,1913-09-09,Over the North Sea,Military - German Navy,Zeppelin,Unknown,Unknown,Unknown,Zeppelin L-1 (airship),...,NaN,20.0,NaN,NaN,14.0,0.0,14.0,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,2020,2022,2022-07-16,"Eleftheroupolis, Greece",Meridian,Antonov,UR-CIC,Nis,Nis- Amman,Antonov An-12,...,8.0,8.0,0.0,8.0,8.0,0.0,8.0,0.0,40.966667,24.200000
5039,2020,2022,2022-11-06,"Bukoba, Tanzania",Precision Air,ATR,5H-PWF,Dar es-Salaam,Dar es-Salaam- Bukoba,ATR 42-500,...,39.0,43.0,17.0,2.0,19.0,0.0,19.0,24.0,-1.335278,31.825833
5040,2020,2022,2022-11-18,"Lima, Peru",LATAM,Airbus,CC-BHB,Lima,Lima- Juliaca,Airbus 320-271N,...,6.0,108.0,0.0,0.0,0.0,2.0,2.0,108.0,-12.021944,-77.114444
5041,2020,2022,2022-11-21,"Medellín, Colombia",AeroPaca SAS,Piper,HK-5121,Medellín,Medellín- Pizarro,Piper PA-31-350 Navajo Chieftain,...,2.0,8.0,6.0,2.0,8.0,0.0,8.0,0.0,NaN,NaN
5042,2020,2023,2023-01-15,"Pokhara, Nepal",Yeti Airlines,ATR,9NANC,Kathmandu,Kathmandu- Pokhara,ATR 72-500-72-212-A,...,4.0,72.0,NaN,NaN,68.0,NaN,NaN,4.0,NaN,NaN

In [81]:
df_merged.to_excel('Data/Main_Data.xlsx', index=False)