# Some data cleaned manually in Excel
## To Do
1. Load the data
2. Created an ID column and assign an unique ID to each Accident/Incident
3. Unpivot the Data to have the unique values on Data Col as Columns and values as rows
4. Check for null vallues
5. Make the Data usuable for Power BI

In [140]:
import pandas as pd

In [141]:
#loading the excel into a dataframe
df = pd.read_excel('./Data/scraped_data.xlsx')
df

,title,Headers,Values
0,Wingfoot Air Express crash,Wingfoot Air Express,Wingfoot Air Express
1,Wingfoot Air Express crash,Accident,Accident
2,Wingfoot Air Express crash,Date,"July 21, 1919"
3,Wingfoot Air Express crash,Summary,In-flight fire
4,Wingfoot Air Express crash,Site,"Chicago, Illinois, United States .mw-parser-ou..."
...,...,...,...
27916,LATAM Perú Flight 2213,Injuries,40
27917,LATAM Perú Flight 2213,Survivors,108
27918,LATAM Perú Flight 2213,Ground casualties,Ground casualties
27919,LATAM Perú Flight 2213,Ground fatalities,2
27920,LATAM Perú Flight 2213,Ground injuries,1

### drop rows that are empty on the Headers column

In [142]:
df.dropna(subset=['Headers'], inplace=True)
df

,title,Headers,Values
0,Wingfoot Air Express crash,Wingfoot Air Express,Wingfoot Air Express
1,Wingfoot Air Express crash,Accident,Accident
2,Wingfoot Air Express crash,Date,"July 21, 1919"
3,Wingfoot Air Express crash,Summary,In-flight fire
4,Wingfoot Air Express crash,Site,"Chicago, Illinois, United States .mw-parser-ou..."
...,...,...,...
27916,LATAM Perú Flight 2213,Injuries,40
27917,LATAM Perú Flight 2213,Survivors,108
27918,LATAM Perú Flight 2213,Ground casualties,Ground casualties
27919,LATAM Perú Flight 2213,Ground fatalities,2
27920,LATAM Perú Flight 2213,Ground injuries,1

In [143]:
df.drop(df[df['Headers'] == df['Values']].index, inplace=True)
df

,title,Headers,Values
2,Wingfoot Air Express crash,Date,"July 21, 1919"
3,Wingfoot Air Express crash,Summary,In-flight fire
4,Wingfoot Air Express crash,Site,"Chicago, Illinois, United States .mw-parser-ou..."
5,Wingfoot Air Express crash,Total fatalities,13
6,Wingfoot Air Express crash,Total injuries,27
...,...,...,...
27915,LATAM Perú Flight 2213,Fatalities,0
27916,LATAM Perú Flight 2213,Injuries,40
27917,LATAM Perú Flight 2213,Survivors,108
27919,LATAM Perú Flight 2213,Ground fatalities,2
27920,LATAM Perú Flight 2213,Ground injuries,1

### will create a counter that will reset everytime it finds a new title, will use this to delete all rows that have 0 on the counter eheheh sir

In [144]:
df['counter'] = df.groupby('title').cumcount()
df

,title,Headers,Values,counter
2,Wingfoot Air Express crash,Date,"July 21, 1919",0
3,Wingfoot Air Express crash,Summary,In-flight fire,1
4,Wingfoot Air Express crash,Site,"Chicago, Illinois, United States .mw-parser-ou...",2
5,Wingfoot Air Express crash,Total fatalities,13,3
6,Wingfoot Air Express crash,Total injuries,27,4
...,...,...,...,...
27915,LATAM Perú Flight 2213,Fatalities,0,16
27916,LATAM Perú Flight 2213,Injuries,40,17
27917,LATAM Perú Flight 2213,Survivors,108,18
27919,LATAM Perú Flight 2213,Ground fatalities,2,19
27920,LATAM Perú Flight 2213,Ground injuries,1,20

In [145]:
len(df["Headers"].unique())

47

### check unique values on headers, some need to change name like Type needs to tbe changed to Aircraft type
### drop accused values

In [146]:
df.to_excel('../data.xlsx', index=False)