## To Do
1. Load the data
2. Created an ID column and assign an unique ID to each Accident/Incident
3. Unpivot the Data to have the unique values on Data Col as Columns and values as rows
4. Check for null vallues
5. Make the Data usuable for Power BI

In [21]:
import pandas as pd

### column names were edited directly in Excel

In [22]:
#loading the excel into a dataframe
df = pd.read_excel('./Data/scraped_data.xlsx')
df.head()

,Accident Counter,Data,Values
0,0,Wingfoot Air Express,Wingfoot Air Express
1,1,Accident,Accident
2,2,Date,"July 21, 1919"
3,3,Summary,In-flight fire
4,4,Site,"Chicago, Illinois, United States .mw-parser-ou..."

### creating an Accident ID column to not mix data

In [23]:
# variable to keep track of the ID number
current_id = 0

# Create a new column
df['Accident ID'] = None

# Iterate through the rows of the dataframe
for index, row in df.iterrows():
    # Check the value of the "Accident Counter" column
    if row['Accident Counter'] == 0:
        # Increment the ID number
        current_id += 1
    # Assign the current ID number to the "ID" column
    df.at[index, 'Accident ID'] = current_id
df

,Accident Counter,Data,Values,Accident ID
0,0,Wingfoot Air Express,Wingfoot Air Express,1
1,1,Accident,Accident,1
2,2,Date,"July 21, 1919",1
3,3,Summary,In-flight fire,1
4,4,Site,"Chicago, Illinois, United States .mw-parser-ou...",1
...,...,...,...,...
26143,20,Injuries,40,1452
26144,21,Survivors,108,1452
26145,22,Ground casualties,Ground casualties,1452
26146,23,Ground fatalities,2,1452
26147,24,Ground injuries,1,1452

### reorder columns

In [24]:
df = df[['Accident ID', 'Accident Counter', 'Data', 'Values']]
df.head()

,Accident ID,Accident Counter,Data,Values
0,1,0,Wingfoot Air Express,Wingfoot Air Express
1,1,1,Accident,Accident
2,1,2,Date,"July 21, 1919"
3,1,3,Summary,In-flight fire
4,1,4,Site,"Chicago, Illinois, United States .mw-parser-ou..."