## To Do
1. Load the data
2. Created an ID column and assign an unique ID to each Accident/Incident
3. Unpivot the Data to have the unique values on Data Col as Columns and values as rows
4. Check for null vallues
5. Make the Data usuable for Power BI

In [5]:
import pandas as pd

### column names were edited directly in Excel

In [6]:
#loading the excel into a dataframe
df = pd.read_excel('./Data/scraped_data.xlsx')
df.head()

,Unnamed: 0,title,Headers,Values
0,0,Wingfoot Air Express crash,Wingfoot Air Express,Wingfoot Air Express
1,1,Wingfoot Air Express crash,Accident,Accident
2,2,Wingfoot Air Express crash,Date,"July 21, 1919"
3,3,Wingfoot Air Express crash,Summary,In-flight fire
4,4,Wingfoot Air Express crash,Site,"Chicago, Illinois, United States .mw-parser-ou..."

### creating an Accident ID column to not mix data

### reorder columns