# EDA

### check outliers
1. Average of accidents per year
2. Average of fatalites per year
3. What are the decades with more accidents
3. Top 3 years of accidentes and fatalities
4. Top 3 operatos of """""""
5. Top 3 aircraft (this will need to have the aircraft data cleaned)

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('Data/plane_crash_info_cleaned.xlsx')
df.head()

,Date,Time,Location,Operator,Route,AC_Type,Summary,Passengers_Aboard,Crew_Aboard,Aboard_Aircraft,Passengers_Fatalities,Crew_Fatalities,Aboard_Fatalities,Ground_Fatalities,Total_Fatalites,Survivors,year
0,1908-09-17,17:18:00,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,"During a demonstration flight, a U.S. Army fly...",1.0,1.0,2.0,1.0,0.0,1.0,0.0,1.0,1.0,1908
1,1909-09-07,NaN,"Juvisy-sur-Orge, France",Unknown,Air show,Wright Byplane,Eugene Lefebvre was the first pilot to ever be...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1909
2,1912-07-12,06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,First U.S. dirigible Akron exploded just offsh...,0.0,5.0,5.0,0.0,5.0,5.0,0.0,5.0,0.0,1912
3,1913-08-06,NaN,"Victoria, British Columbia, Canada",Private,Unknown,Curtiss seaplane,The first fatal airplane accident in Canada oc...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1913
4,1913-09-09,18:30:00,Over the North Sea,Military - German Navy,Unknown,Zeppelin L-1 (airship),The airship flew into a thunderstorm and encou...,NaN,NaN,20.0,NaN,NaN,14.0,0.0,14.0,6.0,1913

In [5]:
df.shape

(5063, 17)

In [7]:
df.describe()

,Passengers_Aboard,Crew_Aboard,Aboard_Aircraft,Passengers_Fatalities,Crew_Fatalities,Aboard_Fatalities,Ground_Fatalities,Total_Fatalites,Survivors,year
count,4840.000000,4842.000000,5046.000000,4825.000000,4825.000000,5055.000000,5018.000000,5018.000000,5046.000000,5063.000000
mean,26.869628,4.525816,31.097107,18.914819,3.583627,22.278932,1.714229,24.061977,8.792905,1971.069326
std,44.032148,3.789746,45.466616,34.139226,3.180857,35.079853,55.198520,66.411876,30.543587,24.772217
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1908.000000
25%,3.000000,2.000000,7.000000,1.000000,2.000000,4.000000,0.000000,4.000000,0.000000,1951.000000
50%,12.000000,4.000000,16.000000,7.000000,3.000000,11.000000,0.000000,12.000000,0.000000,1970.000000
75%,30.000000,6.000000,35.000000,21.000000,5.000000,25.000000,0.000000,26.000000,4.000000,1992.000000
max,614.000000,83.000000,644.000000,560.000000,43.000000,583.000000,2750.000000,2842.000000,516.000000,2023.000000

In [13]:
fatalities_by_year = df.groupby(by=['year']).sum()
fatalities_by_year['Total_Fatalites']

year
1908      1.0
1909      1.0
1912      5.0
1913     43.0
1915     36.0
        ...
2019    326.0
2020    338.0
2021    189.0
2022    191.0
2023      0.0
Name: Total_Fatalites, Length: 113, dtype: float64